body {
    background-color: #141414;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    padding: 25px 20px;
}

h1 {
    color: #e50914;
    font-size: 32px;
}

@media (max-width: 768px) {
    .container {
        padding: 100px 20px 20px 20px;
    }

    h1 {
        font-size: 24px;
    }

    .alert {
        font-size: 18px;
    }
}