/* CONTENEDOR */
.filter-form {
    margin-bottom: 20px;
}

/* INPUT */
.filter-form input {
    background-color: #000;
    border: 1px solid #333;
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    width: 250px;
}

/* PLACEHOLDER */
.filter-form input::placeholder {
    color: #888;
}

/* FOCUS */
.filter-form input:focus {
    border-color: #e50914;
}

.btn.btn-info {
    background-color: #e50914; /* rojo Netflix */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 30px;
}