nav {
    background-color: black;
    padding: 15px 40px;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 500;
}

.nav-item:first-child a {
    color: #e50914;
    font-size: 22px;
    font-weight: bold;
}


@media (max-width: 768px) {
    nav {
        padding: 10px 20px;
    }

    .nav {
        flex-wrap: wrap;
        gap: 10px;
    }
}